$body-bg: #f1faee;


$theme-colors: (
  "primary": #457b9d,
  "secondary": #a8dadc,
  "dark": #1d3557,
  "light": #8D99AE,
);

$font-family-base: "roboto", sans-serif;

.title-image {
  border-radius: 50%;
}

.thanks {
  visibility: hidden;
}

.box-container {
  display: flex;
  text-align: center;
}

.link-box {
  position: relative;
  margin: 2px 5px;
  display: flex;
  width: 200px;
  height: 200px;
}

.link-box-image {
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.link-text {
  position: absolute;
  bottom: 0;
  left: 2px;
  font-weight: bold;
  font-size: 2em;
}

@import "node_modules/bootstrap/scss/bootstrap";